
.App {
  /*text-align: center;*/
  margin: 0px;
  padding: 0px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.section-one, .section-two {
  height: 120px;
  width: 100%;
  position: relative;
}
.section-two {
  background-color: indianred;
  height: 80px;
}
.section-three {
  background-color: RGBA(20, 111, 214, 1.00);
  height: calc(100vh - 270px);
}

h3 {
  font-size: 1.5em;
  position: relative;
  top: 50%;
  transform: translateY(-100%);
}

button {
  margin-top: 15px;
  padding: 10px 24px;
  font-size: 2em;
  border-radius: 50px;
  background-color: indianred;
  color: white;
  outline: none;
}

input {
  display: inline-block;
  margin-top: 15px;
  padding: 20px;
  border-radius: 50px;
  font-size: 1.5em;
  outline: none;
}

li {
  font-size: 1.5em;
  color: white;
  padding: 10px;
  list-style: none;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header img {
  top: 0;
  position: absolute;
  left: 0;
  padding: 10px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
