.Guests-wrapper {
  background-color: RGBA(148, 246, 201, 1.00);
  height: 100%;
  margin: 0;
}
ul {
  list-style: none;
}

button {
  background-color: RGBA(247, 192, 90, 1.00);
  border-radius: 7px;
  border: none;
  padding: 10px 20px;
  outline: none;
}

input {
  margin: 10px;
  border: none;
  border-radius: 7px;
  padding: 10px;
  font-size: 12px;
  outline: none;
}
